<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
  <h1>MakersBnB</h1>
   <h2 id="center">Let these potential bookings pique your curiosity</h2><br>
   <ul>
   <li class="left"><a href="/properties">view all</a> </li>
   <li class="left"><a href="/create_listing">post a listing</a> </li>
   <% if @user == nil %>
    <li class="right"><a href="/sign_up">sign up</a></li>
    <li class="right"><a href="/sign_in">sign in</a></li>
   <% else %>
   <li class="right"><a href="/profile"><%= @user.username %>'s profile</a></li>
   <li class="right"><a href="/sign_out">sign out</a></li>
   <% end %>
</ul>
<br><br>
<%# <------------------------MAIN BODY--------------------------> %>

Your booking request has been received, the host will respond to your request soon.

<form action='/' method='get'>
  <button type='submit' value='Return to homepage'>
</form>

<%# <------------------------MAIN BODY--------------------------> %>
</div>
</body>
