<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
  <h1><a href="/">MakersBnB</a></h1>
   <h2 id="center">Let these potential bookings pique your curiosity</h2><br>
   <ul>
   <li class="left"><a href="/properties">view all</a> </li>
    <% if @user == nil %>
    <li class="right"><a href="/sign_up">sign up</a></li>
    <li class="right"><a href="/sign_in">sign in</a></li>
   <% else %>
   <li class="left"><a href="/create_listing">post a listing</a> </li>
   <li class="right"><a href="/profile"><%= @user.username %>'s profile</a></li>
   <li class="right"><a href="/sign_out">sign out</a></li>
   <% end %>
</ul>
<br><br>
<%# <------------------------MAIN BODY--------------------------> %>

<div id="center_it">
<h4>Your booking request has been received.</h4>
<h5><i>The host will get back to you shortly.</i></h5>
<br>
<form action='/' method='get'>
  <input type='submit' value='Return to Homepage'>
</form>
</div>
<%# <------------------------MAIN BODY--------------------------> %>
</div>
</body>
