<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
<h1>MakersBnB</h1>
<h4>Check In:</h4>
<input type="datetime-local" id="Test_DatetimeLocal">
<h4>Check Out:</h4>
<input type="datetime-local" id="Test_DatetimeLocal">
<br><br>
<input type='submit' value='Request Booking'>
</div>
</body>