<head>
<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
<title>MakersBnB</title>
</head>

# <h1>Welcome to MakersBnB</h1>
# <form>
#   <label for="username">Username:</label><br>
#   <input type="text" id="username" name="username"><br>
#   <label for="pwd">Password:</label><br>
#   <input type="password" id="pwd" name="pwd"><br>
#   <input type="submit" value="Login (NOT YET FUNCTIONAL)">
# </form>