<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
  <h1>MakersBnB</h1>
    <ul>
   <li class="left"><a href="/properties">view all</a> </li>
   <li class="left"><a href="/create_listing">post a listing</a> </li>
   <% if @user == nil %>
    <li class="right"><a href="/sign_up">sign up</a></li>
    <li class="right"><a href="/sign_in">sign in</a></li>
   <% else %>
   <li class="right"><a href="/profile"><%= @user.username %>'s profile</a></li>
   <li class="right"><a href="/sign_out">sign out</a></li>
   <% end %>

<%# <------------------------MAIN BODY--------------------------> %>



<%# <------------------------MAIN BODY--------------------------> %>
</div>
</body>
